html,body{
	margin: 0;
	padding: 0;
	min-width: 1000px;
	background-color: #f5f5f5 ;
	font-family: "Arial";
}
#fixed-contanier{
	width:960px;
	margin: 0 auto;
}
#left-column{
	float: left;
}
h2{
	margin: 60px 0 30px 0;
	font-weight: normal;
	font-size: 21px;


}
#for-list{
	margin-top: 100px;
	font-weight: normal;
	font-size: 16px;
	color: #8993ad;
}
#right-column{
	float: right;
}
#form{
	height: 540px;
	width: 470px;
	background-color: white;
}
small{
	color: #8993ad;
	font-size: 14px;
	padding: 50px 0px 5px 40px;
	display: block;
}
#name{
	height: 40px;
	width: 390px;
	margin-left: 40px;
	resize: none;
	background-color: #f9f9f9;
	border-color:#ebebeb ;
	color: black;
}
#info{
	height: 230px;
	width: 390px;
	margin-left: 40px;
	resize: none;
	background-color: #f9f9f9;
	border-color:#ebebeb ;
	color: black;
}
#submit-button{
	margin: 30px 0px 5px 40px;
	width: 225px;
	height: 50px;
	background-color: #2174fd;
	color: white;
	border-width: 0px;
}
.rotated{
	transform: rotate(90deg);
}
#fixed-contanier::after {
    content: "";
    display: table;
    clear: both;
}